/*HEADER CSS*/

.header {
	background: #e3f4fa;
	height: 55px;
	position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
}
.nav {
	display: flex;
	justify-content: flex-end;
}
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}
.clearfix {
	overflow: auto;
	zoom: 1;
}
.navtext {
	font-size: 14px;
	text-transform: uppercase;
	display: inline-block;
	margin: 20px;
	padding-right: 15px;
	font-family: 'Patrick Hand SC', cursive;
}
.navtext a:hover {
	color: #A76571;
}
.navtext a {
	text-decoration: none;
	color: #000;
	cursor: pointer;
	-o-transition: color .5s ease-out, background 5s ease-in;
	-ms-transition: color .5s ease-out, background 5s ease-in;
	-moz-transition: color .5s ease-out, background 5s ease-in;
	-webkit-transition: color .5s ease-out, background 5s ease-in;
}

/*BODY CSS*/

.welcome {
	background: url('background.png') no-repeat top;
	background-size: cover;
	height: 100vh;
	font-family: 'Patrick Hand SC', cursive;
}
.aboutmesection {
	background-color: #C9D5B5;
	padding: 70px 15px;
	display: flex;
	align-items: center;
	font-family: 'Jaldi', sans-serif;
	border-bottom: 3px solid;
	border-top: 3px solid;
}
.about-container {
	position: relative;
	text-align: center;
}
.mynametext {
	font-size: 55px;
	display: block;
	text-align: center;
	font-weight: 600;
	padding-top: 135px;
}
.textabout {
	text-align: center;
	margin-top: 130px;
	text-transform: uppercase;
	font-size: 16px;
	padding-top: 15px;
	font-weight: 600;
}
.contactbutton {
	width: 150px;
	padding: 20px;
	border-radius: 17px;
	border-width: 1px;
	background-color: #A76571;
	display: block;
	margin: 0 auto;
	margin-top: 150px;
	text-align: center;
	cursor: pointer;
	color: #fff;
	text-transform: uppercase;
	font-size: 14px;
}
.contactbutton:hover {
	background: rgba(0, 0, 0, 0);
	color: #3a7999;
	box-shadow: inset 0 0 0 3px #3a7999;
}

.meg {
	display: block;
	text-align: center;
	font-size: 30px;
	font-family: 'Patrick Hand SC', cursive;
}
 a {
	text-decoration: none;
}
.aboutme-first {
	position: relative;
	display: table-cell;
	margin: 0 10px;
	width: 40%;
}
.aboutme-second {
	position: relative;
	display: table-cell;
	width: 40%;
}
.about-container {
	text-align: center;
	display: block;
	line-height: 18px;
	font-size: 14px;
}
.point {
	position: relative;
	padding: 2rem;
	text-align: center;
	opacity: 0;
	-webkit-transform: scaleX(0.9) translateY (3rem);
	-moz-transform: scaleX(0.9) translateY(3rem);
	transform: scaleX(0.9) translateY(3rem);
	-webkit-transition: all 0.35s ease-in-out;
	-moz-transition: all 0.35s ease-in-out;
	-webkit-transition-delay: 0.2s;
	-moz-transition-delay: 0.2s;
	transition-delay: 0.2s;
}
.myskills {
	margin: 45px;
	font-family: 'Jaldi', sans-serif;
	/*width: 500px;*/
}

.myimage img {
	position: absolute;
	width: 240px;
    border-radius: 115px;
    margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	padding-top: 30px;
}
.progress {
	font-size: 24px;
	/*display: block;*/
	margin: 0 auto;
	float: left;
	width: 220px;;
	padding-top: 115px;
}
.progresstext {
	font-size: 14px;
	display: table-cell;
	padding-top: 10px;
}
.skills {
	font-size: 24px;
	width: 500px;
	float: right;
	text-align: right;
	margin-right: 55px;
	cursor: default;
}
.devtext {
	font-family: 'Patrick Hand SC', cursive;
	font-size: 30px;
}
.skillstitle {
	font-family: 'Patrick Hand SC', cursive;
	font-size: 30px;
}
.skill-list-item {
	font-size: 15px;
	-o-transition: color .3s ease-out, background 5s ease-in;
	-ms-transition: color .3s ease-out, background 5s ease-in;
	-moz-transition: color .3s ease-out, background 5s ease-in;
	-webkit-transition: color .3s ease-out, background 5s ease-in;
	-o-transition: margin .7s ease-out, background 7s ease-in;
}
.skill-list-item:hover {
	color: #A76571;
	margin: 10px;
}
ul {
	list-style-type: none;
}
.container {
	overflow: hidden;
}
.contactme {
	padding: 15px 10px 55px 10px;
	background-color: #C9D5B5;
	border-top: 3px solid;
	font-family: 'Jaldi', sans-serif;
}
.contactmetitle {
	    display: block;
	    text-align: center;
	    font-size: 24px;
	    font-family: 'Patrick Hand SC', cursive;
	}
.contactmetext {
	text-align: center;
	margin: 55px 55px 20px 55px;
	display: flex;
	justify-content: center;
}
.phone {
	position: relative;
	display: inline-block;
	border-radius: 46px;
	background-color: white;
	width: 94px;
	padding-top: 14px;
	height: 82px;
	margin-right: 60px;
	-webkit-transform: perspective(3px) translateZ(0);
	transform: perspective(3px) translateZ(0);
	box-shadow: 0 0 3px transparent;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: box-shadow;
	transition-property: box-shadow;
}
.phone:hover, .phone:active {
	box-shadow: 0 0 10px rgba(167, 101, 113, 1);
}
.email {
	position: relative;
	display: inline-block;
	border-radius: 46px;
	background-color: white;
	width: 94px;
	padding-top: 14px;
	height: 82px;
	margin-right: 60px;
	-webkit-transform: perspective(3px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: box-shadow;
	transition-property: box-shadow;
}
.email:hover, .email:active {
	box-shadow: 0 0 10px rgba(167, 101, 113, 1);
}
.address {
	position: relative;
	display: inline-block;
	border-radius: 46px;
	background-color: white;
	width: 94px;
	padding-top: 14px;
	height: 82px;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 3px transparent;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: box-shadow;
	transition-property: box-shadow;
}
.address:hover, .address:active {
	box-shadow: 0 0 10px rgba(167, 101, 113, 1);
}
.contactmecontent {
	text-align: center;
	display: flex;
	justify-content: center;
}
.phoneinfo {}
.emailinfo {
	margin: 0 15px;
}
.locationinfo {}

.projecttitle {
	display: block;
	margin: 0 auto;
	position: relative;
	text-align: center;
	padding-top: 15px;
}

.projecttitletext {
	font-size: 45px;
	padding-bottom: 15px;
    display: block;
   	font-family: 'Patrick Hand SC', cursive;
}

.projects {
	font-family: 'Jaldi', sans-serif;
	padding: 10px;
	display: flex;
	justify-content: center;
}


.mocktext {
    position: relative;
    font-size: 13px;
    padding-top: 23px;
    display: inline-block;
}


/*FOOTER CSS*/

.footer {
	background-color: #E3DBDB;
	position: absolute;
	width: 100%;
}
.moreinfotext {
	display: block;
	text-align: center;
	font-size: 12px;
	padding-top: 15px;
	padding-bottom: 10px;
	font-family: 'Patrick Hand SC', cursive;
}
.footer-links-text {
	display: block;
	margin: 15px 0 15px 0;
	text-align: center;
	text-transform: uppercase;
}
.footer-links-text a {
	text-decoration: none;
	color: #000;
	font-size: 12px;
}
.socialmedia {
	text-align: center;
	padding: 10px;
	margin-top: 20px;
}
.socialmedia a {
	text-decoration: none;
	color: #000;
	padding-right: 10px;
	cursor: pointer;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px transparent;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
}
.fa:hover {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
	-webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
	transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}


/*DROPDOWN MENU ------*/

.dropdown {
    /*float: left;*/
    overflow: hidden;
    display: inline;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 14px;    
    border: none;
    outline: none;
    color: #000;
    /*padding: 14px 16px;*/
    background-color: inherit;
}

.container a:hover, .dropdown:hover .dropbtn {
    background-color: #A76571;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    /*min-width: 160px;*/
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}


/*BLOC JAMS PROJECT PAGE ------*/

.startofbody {
	padding-bottom: 150px;
	background-color: #e3f4fa;

}

.blocjamstext {
	display: block;
    text-align: center;
    font-size: 54px;
    font-family: 'Patrick Hand SC', cursive;
}

.blocjamsinnertext {
	display: block;
	font-size: 30px;
	font-family: 'Patrick Hand SC', cursive;
	text-align: center;
	margin: 10px;
}

.projectext {
	display: block;
	text-align: center;
	font-family: 'Jaldi', sans-serif; 
	font-size: 14px;
}

.blocjamscontainer {
	width: 450px;
	display: block;
	margin: 0 auto;
	padding-top: 65px;
}

.partonetext {
	display: block;
    font-size: 54px;
    text-align: center;
    font-family: 'Patrick Hand SC', cursive;
}

.partoneimage img{
	display: block;
	margin: 0 auto;
	margin-bottom: 25px;
    margin-top: 25px;
    /*height: 600px;*/
    height: auto;
    max-width: 100%;
}

.partoneimage1 img {
    display: block;
    margin: 0 auto;
    margin-bottom: 25px;
    margin-top: 25px;
    /*height: 465px;*/
    height: auto;
    max-width: 100%;
}

.partonecontent {
	display: block;
    overflow: hidden;
    font-size: 14px;
    font-family: 'Jaldi', sans-serif;
    text-align: center;
}

.parttwotext {
	display: block;
    font-size: 54px;
    font-family: 'Patrick Hand SC', cursive;
    border-top: 3px solid;
    padding-top: 25px;
}

.partonecontainer {
	width: 450px;
	display: block;
	margin: 0 auto;
    text-align: center;
}

.parttwocontainer {
	width: 450px;
	display: block;
	margin: 0 auto;
    text-align: center;
}

.parttwoimage img{
	display: block;
	margin: 0 auto;
	margin-bottom: 25px;
    margin-top: 25px;
    /*height: 480px;*/
    height: auto;
    max-width: 100%;
}

.parttwoimage2 img {
    display: block;
    margin: 0 auto;
    margin-bottom: 25px;
    margin-top: 25px;
    /*height: 430px;*/
    height: auto;
    max-width: 100%;
}

.parttwocontent {
    display: block;
    width: 500px;
    font-family: 'Jaldi', sans-serif; 
    font-size: 14px;
    margin-bottom: 40px;
    text-align: center;
}

.fullbody {
    padding: 25px;
    margin: 20px;
}

.buttonposition {
	text-align: center;
	padding-top: 55px;
}

.listeningtomusic img {
    display: block;
    text-align: center;
    margin: 0 auto;
    padding: 25px;
}

.viewcode {
	width: 150px;
	padding: 20px;
	border-radius: 17px;
	border-width: 1px;
	background-color: #A76571;
	display: inline-block;
	text-align: center;
	cursor: pointer;
	color: #fff;
	text-transform: uppercase;
	font-size: 12px;
}
.viewcode:hover {
	background: rgba(0, 0, 0, 0);
	color: #3a7999;
	box-shadow: inset 0 0 0 3px #3a7999;
}

.viewcode a, .viewlive a {
	color: #fff;
}

.viewlive {
	width: 150px;
	padding: 20px;
	border-radius: 17px;
	border-width: 1px;
	background-color: #A76571;
	display: inline-block;
	text-align: center;
	cursor: pointer;
	color: #fff;
	text-transform: uppercase;
	font-size: 12px;
}
.viewlive:hover {
	background: rgba(0, 0, 0, 0);
	color: #3a7999;
	box-shadow: inset 0 0 0 3px #3a7999;
}

/*CLEARFIX -----*/
.fullbody:after {
  content: "";
  display: table;
  clear: both;
}

/*END BLOC JAMS PAGE*/

@media all and (max-width: 480px) and (min-width: 320px) {

	.aboutme-first.point {
	    display: block;
	    position: relative;
	    width: 80%; }

	 .aboutme-second.point {
	    display: block;
	    width: 80%;
	    position: relative; 
	}

	.aboutcontainer {
		line-height: 15px;
    	font-size: 12px;
	}

	.nav {
		text-align: center;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	}

	.navtext {
		font-size: 11px;
	    text-transform: uppercase;
	    display: inline-block;
	    margin: 8px;
	    padding: 0;
	    padding-top: 10px;
    	padding-right: 0px;
	    font-family: 'Jaldi', sans-serif; 
	}

	.mynametext {
		padding-top: 92px;
		font-size: 60px;
		font-family: 'Patrick Hand SC', cursive;
	}

	.textabout {
		margin-top: 81px;
		font-size: 14px;
	}

	.myskills {
		margin: 0;
	}

	.progress {
		padding-top: 50px;
		width: 90%;
		font-size: 22px;
		padding: 50px 10px 20px 10px;
	}

	.skills {
		font-size: 20px;
	}

	.myimage img {
		display: block;
	    position: relative;
	    margin: 0 auto;
	    padding: 10px 0;
	}

	.contactmetext {
		margin: 40px 0 10px 0;
	}

	.phoneinfo {
		padding-left: 5px;
	}

	.contactmecontent {
		font-size: 13px;
	    padding-top: 25px;
	    padding: 15px;
	}

	.phone {
	    border-radius: 0;
	    background-color: #C9D5B5;
	}

	.email {
		border-radius: 0;
		background-color: #C9D5B5;	
	}

	.projecttitletext {
    	font-size: 30px;
	}	

	.address {
		border-radius: 0;
		background-color: #C9D5B5;
	}

	.viewcode {
		display: block;
		margin: 0 auto;
		margin-bottom: 10px;
	}

	.viewlive {
		display: block;
		margin: 0 auto;
	}

	.projecttext {
		font-size: 13px;
	}

	.partonecontainer {
		width: inherit;
	}

	.parttwocontainer {
		width: inherit;
	}

	.blocjamscontainer {
	    width: 305px;
	    padding-top: 70px; 
	}

	/*.partoneimage img {
		height: 240px;
	}

	.partoneimage1 img {
		height: 203px;
	}*/

	.parttwocontent {
	 	display: initial;
	}

	/*.parttwoimage img {
		height: 228px;
	}

	.parttwoimage2 img {
		height: 187px;
	}*/

	.partonetext {
		font-size: 40px;
	}

	.parttwotext {
		font-size: 40px;
	}

	.partonecontent {
		font-size: 12px;
	}

	.parttwocontent {
		font-size: 12px;
	}

	.dropdown .dropbtn {
	    font-size: 11px; 
	}

	.buttonposition {
		padding-top: 10px;
	}
}


@media all and (max-width: 765px) and (min-width: 481px) { 

	.mynametext {
		padding-top: 82px;
	}

	.dropdown .dropbtn {
		font-size: 11px;
	}

	.textabout {
		margin-top: 76px;
	}

	.partonecontainer {
		margin: initial;
	}

	.parttwocontainer {
		margin: initial;
	}

}

@media all and (max-width: 1024px) and (min-width: 768px) { 
	.mynametext {
		padding-top: 105px;
	}

	.textabout {
		margin-top: 97px;
	}

	.skills {
	    font-size: 24px;
	    width: inherit;
	    float: none;
	    text-align: right;
	    cursor: default;
	}  

	.projects {
		display: block;
	    margin: 0 auto;
	    text-align: center;
	}

	.myimage img {
		padding-left: 40px;
	}
} 

@media all and (max-width: 1440px) and (min-width: 768px) { 

	.partoneimage img {
		height: auto;
		max-width: 600px;

	}

	.partoneimage1 img {
		height: auto;
		max-width: 600px;
	}

	.parttwoimage img {
		height: auto;
		max-width: 600px;
	}

	.parttwoimage2 img {
		height: auto;
		max-width: 600px;
	}

}